.wrapper{
  display:grid;
  grid-template-columns:1fr 6fr 1fr;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;
}

.wrapper > div{
  background:#ADD8E6;
  padding:1em;
}
.wrapper > div:nth-child(odd){
  background:#ADD8E6;
}
.nested{
  display:grid;
  grid-template-columns:1fr 1fr ;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;

}
.nested > div{
  background:white;
  padding:1em;
}
.box1{
  /*align-self:start;*/
  font-family: 'PT Sans', cursive;
  grid-column:1/3;
  grid-row:1;
  border-radius: 25px;
}

#Thetitle{font-family: 'PT Sans', cursive;
font-weight: bold;
}

.box2{
  /*align-self:end;*/
  grid-column:3;
  grid-row:1/2;
  border-radius: 25px;

}

.box3{
  /*justify-self:end;*/
  grid-column:3;
  grid-row:2/8;
  border-radius: 25px;
}

.box4{
  grid-column:1;
  grid-row:2/8;
  border-radius: 25px;
}
.box5{
  grid-column:2;
  grid-row:2/8;
  border-radius: 25px;
}

.box6{
  font-family: 'PT Sans', serif;
grid-column:1/3;
grid-row:1/3;
border-radius: 25px;
background-color: white;
}

.box7{
  font-family: 'PT Sans', serif;
grid-column:3/5;
grid-row:1/3;
border-radius: 25px;
background-color: white;
}
.box8{
  font-family: 'PT Sans';
grid-column:1/3;
grid-row:3/6;
border-radius: 25px;
background-color: White;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: White;
  border-radius: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}
.total{
background-color: white;
font-family: serif;
}


.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5px auto; /* 15% from the top and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}



/* Close button on hover */
.close:hover,
.close:focus {
color: red;
cursor: pointer;
}


* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for all buttons */
button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Add padding to container elements */
.container {
padding: 16px;
}

.topnav{
float:right;
}
.liam {
padding-left: 30px;
border-radius: 8px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title {
  padding-left: 75px;
  font-family: serif;
}